@use "../../variables" as v;
.manager{
  
  &__sorters {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
  }

  &__modalbutton {
    position: fixed;
    right: 32px;
    bottom: 60px;
    border: 2px solid v.$primary-color;
    background-color: v.$primary-color;
    border-radius: 40px;
    color: v.$background-primary-color;
    font-size: 18px;
    font-weight: 400;
    box-shadow: 5px 5px 8px grey;
    padding: 5px;
  }

  &__list {
    display: grid;
    grid-template-columns: 48% 48%;
    grid-gap: 10px;
    width: 100%;


    &__load_more {
      width: 100%;
      grid-column: 1/-1;
      border: 2px solid v.$primary-color;
      background-color: v.$primary-color;
      border-radius: 40px;
      color: v.$background-primary-color;
      margin: 16px 0;
      font-size: 18px;
      font-weight: 400;
    }

    &__no_results {
      grid-column: 1/-1;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

@media screen and (min-width: 768px) {
  .manager{
    &__list {
      grid-template-columns: 24% 24% 24% 24%;
    }
    
  }
}