@use '../../variables' as v;

.container {
  width: 100%;
  height: fit-content;
  background-color: v.$background-secondary-color;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 0 10px;
}

.main {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 0 10px;
}