.item {
  display: flex;
  flex-flow: column wrap;
  justify-content: start;
  width: 100%;
  height: 420px;
  
  &__section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    &__favourite_button {
      border: none;
      background-color: transparent;
      font-weight: bold;
      font-size: 24px;
      color: red;
    }
    &__description {
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      word-break: break-word;
      font-size: 14px;
      font-weight: 400;
      overflow: hidden;      
    }
    &__title {
      font-weight: bold;
      font-size: 14px;
      display: -webkit-box;        
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }

  &__image {
    height: 253px;
    width: 100%;
    object-fit: cover;
  }  
}