@use "../../variables" as v;

.dialog {
  background-color: v.$background-primary-color;
  padding: 16px 0;
  width: 100%;
  max-width: 500px;
  height: 100vh;
  top: 66px;
  bottom: 0;
  border: 0;  
  
  &::backdrop {   
    background-color: v.$background-secondary-color;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    height: 100%;
    position: sticky;
    top: 0;
  }

  &__list {
    background-color: v.$background-secondary-color;
    flex-grow: 1;
    overflow-y: auto;
    width:100%;
  }

  &__footer {
    position: sticky;
    bottom: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    padding: 16px 16px;
    margin-bottom: 16px;

    &__close {
      color: v.$primary-color;
      background-color: transparent;
      border: none;
      text-transform: uppercase;
    }
  }
}
