@use "../../variables" as v;

.dialog {
  background-color: v.$background-primary-color;
  padding: 16px;
  width: 100%;
  max-width: 500px;
  height: 100vh;
  top: 66px;
  bottom: 0;
  border: 0;
  &::backdrop {   
    overscroll-behavior: contain;
    background-color: v.$background-secondary-color;
  }
}

.favourite {  
  width: 100%;
  height: 80px;
  border-radius: 40px;
  &__container {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    &__image {
      height: 80px;
    }
  }
 
}