@use "../../variables" as v;

.favourite {  
  width: 96%;
  border-radius: 10px;
  background-color: v.$background-primary-color;
  margin: 8px 8px;
  
  &__container {
    width: 100%;
    height: 80px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;    
    
    &__image {
      height: 100%;
      width: 80px;
      object-fit: cover;
      border-radius: 10px 0 0 10px;
    }

    &__options {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      padding: 8px;
      flex-grow: 1;
      
      &__title {
        font-weight: 800;
      }

      &__button {
        width: 40px;
        height: 40px;
        background-color: transparent;
        color: v.$primary-color;
        padding: 0;
        border: none;
        font-size: xx-large;
        font-weight: bold;
      }
    }
  } 
}