// Color Palette
$primary-color: #13C1AC;
$primary-color-hover: #0F9989;
$background-secondary-color: #ECEFF1;
$border-color: #90A4AE;

// Text Colors
$primary-text-color: #253238;
$secondary-text-color: #90A4AE;

// Font Families
$wallie-font-family: "Wallie", Helvetica, sans-serif;